@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Silkscreen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* ----------------FONTS-----------------*/
:root{
    --heading-font: 'Silkscreen', cursive;
    --body-font: 'Roboto Mono', monospace;
}

/* ----------------COLORS-----------------*/
:root{
    --gameover-popup: rgba(120, 149, 178, 0.9);
    --newbest-popup: #e5e5e5;
    --body-background: pink;
}

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #edf6f9;
    font-family: 'EB Garamond', serif;
    /* font-family: 'Silkscreen', cursive; */

}

#gameContainer{
    height: 600px;
    min-width: 350px;
    max-width: 400px;
    background-color: grey;
    overflow: scroll;
    overflow-x: hidden;
    outline: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.main-heading{
    font-family: 'Silkscreen', cursive;
    font-size: 24px;
    margin-bottom: 3px;
    text-align: center;
}
.sub-heading-container{
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 20px;
    flex-direction: column;
}

.sub-heading{
    font-size:24px ;
    text-align: center;
    font-family: 'Silkscreen', cursive;
}

.tile{
    height: 150px;
    width: 25%;
    background-color: #e5e5e5;
    outline: black solid;
}

.end{
    height: 150px;
    width: 25%;
    outline: black solid;
    background-color: yellow;
}

.active{
    height: 150px;
    width: 25%;
    outline: black solid;
    background-color: #253237;
    font-size: 35px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.inactive{
    height: 150px;
    width: 25%;
    outline: black solid;
    background-color: #bfc0c0;
    font-size: 50px;
    color: white;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.tile-letter{
    margin-top: 50px;
}

.gameover-popup{
    width: 400px;
    height: 60vh;
    border: 2px solid black;
    margin: 20px;
    background-color: #ef476f;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: var(--body-font);
    align-items: center;
    flex-direction: column;
    justify-content:  center;
    display: flex;
    transform: translate(-8%, 10%) scale(0.1);
    visibility: hidden;
    position: absolute;
    transition: transform 0.4s;
    box-shadow: 5px 5px 5px #aaaaaa ;
}

.openPopup{
    transform: translate(-8%, 10%) scale(1);
    visibility: visible;
}

.gameover-popup h1, #scoreh2{
    font-family: var(--heading-font);
}

.gameover-popup h2{
    font-family: 'Space Mono', monospace;
}

#gameover{
    width: 100px;
    height: 100px;
}

.gameover-popup h1, .gameover h2, img{
    padding: 15px;
}

.highscore-popup h1, .highscore-popup h2, img{
    padding: 15px;
}

#score{
    font-family: 'Space Mono', monospace;
    color: black;
    font-size: 2em;
}

.highscore-popup{
    width: 400px;
    height: 60vh;
    border: 2px solid black;
    margin: 20px;
    background-color: #06d6a0;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: var(--body-font);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:  center;
    display: none;
}

.highscore-popup h1, #scoreh2{
    font-family: var(--heading-font);
}

.highscore-popup h2{
    font-family: 'Space Mono', monospace;
}

#highscore{
    width: 100px;
    height: 100px;}


/*--------------- Exit and restart buttons--------*/

.buttons{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.btn{
    font-size: 1em;
    font-family: var(--heading-font);
    background-color: #FBF2CF;
    padding: 5px;
    border-radius: 15%;
}