body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

#gameContainer{
    height: 600px;
    min-width: 350px;
    max-width: 400px;
    background-color: grey;
    overflow: scroll;
    overflow-x: hidden;
    outline: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    height: 150px;
    width: 25%;
    background-color: white;
    outline: black solid;
}

.end{
    background-color: yellow;
}

.active{
    height: 150px;
    width: 25%;
    outline: black solid;
    background-color: black;
    font-size: 50px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.inactive{
    height: 150px;
    width: 25%;
    outline: black solid;
    background-color: grey;
    font-size: 50px;
    color: white;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

